{
	"$schema": "https://json.schemastore.org/prettierrc",
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 100,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"proseWrap": "preserve",
	"endOfLine": "lf"
}
